.projects-grid {
  color: $color-blue;
  @include margin-center;
  @include padding-vertical($gutter--huge);
  @include wrapper-sizing;

  .projects-grid__tag-nav {
    display: flex;
    justify-content: space-between;
    @include vertical-borders;
    @include font(display);
    @include font-size(12);
    @include margin-bottom($gutter--xl);

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      position: relative;
      @include padding-vertical($gutter);
    }
  }

  .projects-grid__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}