.project-thumbnail__link {
  color: $color-text--light;
  display: block;
  text-decoration: none;
  @include margin-bottom($gutter--large);

  &:hover {
    .project-thumbnail--collapsed {
      .project-thumbnail__title {
        opacity: 1;
      }
    }
  }
}

.project-thumbnail {
  background-color: $color-blue;
  height: 100%;

  .project-thumbnail__image-wrapper {
    background-color: orange;
    overflow: hidden;
    padding-bottom: calc(100% / 3 * 2);
    position: relative;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  .project-thumbnail__content {
    padding: $gutter;
  }

  .project-thumbnail__title {
    height: 65px;
    @include h3;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    span {
      display: block;
      line-height: 1.2;
    }

    small {
      display: block;
      @include h4;
    }
  }

  .project-thumbnail__description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.project-thumbnail--collapsed {
  position: relative;

  .project-thumbnail__content {
    padding: 0;
  }

  .project-thumbnail__title {
    background-color: $color-blue--overlay;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    @include transition;
    @include flex-center;
  }

  small {
    border-top: 2px solid $color-yellow;
    max-width: 50%;
    @include margin-center;
    @include margin-top($gutter--large);
    @include padding-top($gutter--large);
  }
}
