.projects-filter {
  display: flex;
  flex-wrap: wrap;
  @include margin-vertical($gutter--large);
}

.projects-filter__tag {
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  @include borders-vertical;

  &.selected {
    color: $color-yellow;
  }
}
