.projects-grid-item {
  flex-basis: calc((100% / 3) - 20px);
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 310px; // #TODO clean up grid items CSS.
  height: 440px;
  margin-bottom: 20px;
  text-decoration: none;

  .projects-grid-item__text-box {
    color: $color-grey--lightest;
    background-color: $color-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "." "." "." ".";
    padding: 12px;
  }
}