.services-wrapper {
  @include wrapper-sizing;
  @include margin-center;
  @include padding-vertical($gutter--huge);
}

.services-list {
  display: flex;
  flex-flow: row wrap;

  &__title {
    text-align: center;
    width: 100%;
    @include padding-vertical($gutter--large);

    &::after {
      @include horizontal-rule;
    }
  }

  .services-list-item {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;

    &__title {
      text-align: center;
      @include padding-vertical($gutter);
    }

    &__description {
      text-align: justify;
      @include padding-horizontal($gutter--xl);
      @include padding-bottom($gutter--xl);
    }
  }

  .services-list-item-stub {
    width: 33%; 
  }
}

