.site-footer {
  background-color: $color-blue--dark;

  .site-footer__content-wrapper {
    @include wrapper-sizing;
    @include margin-center;
  }
}

.site-copyright {
  text-align: center;
  color: $color-grey--lightest-alpha;
  @include padding-vertical($gutter);

  a {
    color: $color-grey--lightest-alpha;
    font-style: italic;
    text-decoration: none;
    @include margin($gutter);
  }
}
