/*

  Buttons
  ---
  Don't forget hover, active states

*/

.button {
  border: none;
  background-color: $color-yellow;
  color: $color-text--dark;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  @include padding(16px, 48px);
  @include transition;

  > * {
    vertical-align: middle;
  }
}

.button--ghost {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px currentColor; // create sizeless border
  color: $color-yellow;
}

.button--narrow {
  @include padding-horizontal(16px);
}

a.button {
  text-decoration: none;
}

button.button--link {
  border: none;
  background: none;
  outline: none;
  display: inline-block;
}
