/*

  Headings

*/

h1 {
  text-transform: capitalize;
  @include font-display;
}

h2 {
  text-transform: capitalize;
  @include font-display;
}

h3 {
  text-transform: capitalize;
  @include font-display;
}

h4 {
  text-transform: capitalize;
  @include font-display;
}

h5 {
  text-transform: capitalize;
  @include font-display;
}
