/*

  Icons

*/

.icon {
  font-family: 'koers' !important;
  speak: none;
  font-style: normal;
  line-height: 1;
}

.icon::before {
  display: inline-block;
}

.icon--about {
  &:before {
    content: $icon--about;
  }
}
.icon--career {
  &:before {
    content: $icon--career;
  }
}
.icon--construction {
  &:before {
    content: $icon--construction;
  }
}
.icon--planning {
  &:before {
    content: $icon--planning;
  }
}
.icon--location {
  &:before {
    content: $icon--location;
  }
}
.icon--contact {
  &:before {
    content: $icon--contact;
  }
}
.icon--mail {
  &:before {
    content: $icon--mail;
  }
}
.icon--projects {
  &:before {
    content: $icon--projects;
  }
}
.icon--service {
  &:before {
    content: $icon--service;
  }
}
