<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">function showMailingPopUp() {window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"40e4c9c941aa294f603e3fb97","lid":"823653671a","uniqueMethods":true}) })
document.cookie = 'MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC';
};
document.getElementById('open-mailchimp').onclick = function() {showMailingPopUp()};
</script>
