---
layout: default
---
{% assign ProjectImagesPath = "/assets/images/projects" %}

<section class="project-hero">
  <h1 class="project-hero__title">{{ page.title }}</h1>
  <p>{{ page.location }} <span>|</span> Completed {{ page["Project Completion"] }}</p>
</section>

<section class="feature project-feature">
  <div class="feature__wrapper">
    <div class="project-feature__image-container">
      <img src="{{ProjectImagesPath}}/{{ page.slug }}/thumbnail.jpg" />
      <div class="project-feature__hidden-border" />
    </div>
  </div>
</section>

<section class="project-paragraph">
  {% for paragraph in page.paragraphs %}
    {% if forloop.index <= 3 %}
      <div class="project-paragraph__feature-wrapper">
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% capture ImagePath %}{{ ProjectImagesPath }}/{{ page.slug }}/image{{ forloop.index }}.jpg{% endcapture %}
        <div>
        <img src={{ ImagePath }} />
        </div>
        <div class="project-paragraph__text{% if thecycle == 'even' %}__inverted{% endif %}">
        <div>
          {{ paragraph }}
        </div>
        </div>
      </div>
    {% else %}
      <div class="project-paragraph__wrapper">
        {{ paragraph }}
      </div>
    {% endif %}
  {% endfor %}
</section>

<section class="construction-cost-paragraph">
  <div class="construction-cost">
    <span class="construction-cost__title">Construction Cost:</span>
    <span class="construction-cost__number">{{ page["Construction Cost"] }}</span>
  </div>
</section>

<section class="feature feature--secondary project-paragraph">
  <div class="project-cta">
    <h1 class="feature__title feature__title--highlight">All Projects</h3>
    <p><strong>Koers & Associates Engineering Ltd.</strong> is proud of {{ page.title }}. See more completed projects like this on our projects page!</p>
    <a href="/projects" class="button">View All Projects</a>
  </div>
</section>
