---
layout: default
image-path: '/assets/images/projects'
---

<section class="project-hero">
  <h1 class="project-hero__title">{{ page.title }}</h1>
  <ul class="project-information">
    <li>{{ page.client }}</li>
    <li>{{ page.location }}</li>
    <li>Completed {{ page.completed }}</li>
  </ul>
</section>

<section class="feature project-feature">
  <div class="feature__wrapper">
    <div class="project-feature__image-container">
      <img src="{{layout.image-path}}/{{ page.slug }}/main.jpg" />
      <div class="project-feature__hidden-border" />
    </div>
  </div>
</section>

<section class="project-paragraph">
  {% for paragraph in page.paragraphs %}
    {% if forloop.index <= 3 %}
      <div class="project-paragraph__feature-wrapper">
        {% capture ImagePath %}{{ layout.image-path }}/{{ page.slug }}/{{ forloop.index }}.jpg{% endcapture %}
        <div class="project-paragraph__image-wrapper">
          <img src={{ ImagePath }} />
        </div>
        <div class="project-paragraph__text">
          <div>
            {{ paragraph }}
          </div>
        </div>
      </div>
    {% else %}
      <div class="project-paragraph__wrapper">
        {{ paragraph }}
      </div>
    {% endif %}
  {% endfor %}
</section>

<section class="construction-cost-paragraph">
  <div class="construction-cost">
    <span class="construction-cost__title">Construction Cost:</span>
    <span class="construction-cost__number">{{ page.cost }}</span>
  </div>
</section>

<section class="feature feature--secondary">
  {% include components/project-cta.html %}
</section>
