/*

  Colors
  ---

*/

$blue: (
  base: hsl(212, 58%, 24%),
  logo: hsl(229, 62%, 30%),
  dark: hsl(223, 39%, 9%),
  overlay: hsla(212, 58%, 24%, .5)
);

$yellow: (
  base: hsl(40, 86%, 60%),
  hover: hsl(40, 86%, 60%) // #TODO needs an actual hover color
);

$greys: (
    0: hsl(0, 0,   0),
   10: hsl(0, 0,  10%),
   20: hsl(0, 0,  20%),
   30: hsl(0, 0,  30%),
   40: hsl(0, 0,  40%),
   50: hsl(0, 0,  50%),
   60: hsl(0, 0,  60%),
   70: hsl(0, 0,  70%),
   80: hsl(0, 0,  80%),
   90: hsl(0, 0,  90%),
  100: hsl(0, 0, 100%),
);

$greys--alpha: (
   20: hsla(0, 0, 10%,  .2),
   40: hsla(0, 0, 10%,  .4),
   60: hsla(0, 0, 10%,  .6),
   80: hsla(0, 0, 10%,  .8),
  100: hsla(0, 0, 10%, 1.0),
);

$color-grey--lightest: -color($greys, 100);
$color-grey--lighter:  -color($greys,  80);
$color-grey--light:    -color($greys,  70);
$color-grey:           -color($greys,  50);
$color-grey--dark:     -color($greys,  30);
$color-grey--darker:   -color($greys,  20);
$color-grey--darkest:  -color($greys,   0);

$color-grey--lightest-alpha: hsla(255, 100%, 100%, 0.8);

$color-yellow:        -color($yellow);
$color-yellow--hover: -color($yellow, hover);

$color-blue:          -color($blue);
$color-blue--dark:    -color($blue, dark);
$color-blue--logo:    -color($blue, logo);
$color-blue--overlay: -color($blue, overlay);

$color-text:        -color($blue, base);
$color-text--light: $color-grey--lightest;
$color-text--dark:  -color($blue, dark);

$color-box-shadow:   -color($greys--alpha, 20);
$color-text-shadow:  -color($greys--alpha, 80);
$color-overlay: -color($blue, overlay);
