.page-about main {
  .hero {
    background-image: url(../../assets/images/aboutus-bg.jpg);
  }

  li {
    list-style-position: inside;
  }
  .references {
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    a {
      color: #f1b641;
    }
  }
}
