.page-contact main {
  .hero {
    background-image: url(../../assets/images/bainbridge-bg.jpg);
  }
}

.contact .feature__wrapper {
  display: flex;
  @include flex-column-to-row($bp-tablet);

  > div {
    @include flex-half;
  }
}

.contact__map {
  height: 50vh;
  width: 100%;
  @include margin-bottom(20px);

  @include screen($bp-tablet) {
    @include margin-bottom(0);
  }
}

.contact__details {
  @include screen($bp-tablet) {
    @include padding-horizontal(20px);
  }

  > div:last-of-type {
    @include margin-bottom(0);
  }
}

.contact__address,
.contact__communication {
  @include margin-bottom(10px);

  > p {
    @include margin-bottom(0);
  }
}
