.page-projects main {
  .hero {
    background-image: url(../../assets/images/projects-bg.jpg);
  }
}

.projects-wrapper {
  @include wrapper-sizing;
  @include margin-center;
  @include padding-top($gutter--huge);
  @include padding-bottom($gutter--huge);
}

.projects-cta {
  .feature__title,
  p {
    text-align: center;
    text-transform: none;
    @include padding($gutter--large);
  }
}
