.project-hero {
  position: relative;
  background-color: $color-blue;
  background-size: cover;
  height: 100vh;
  max-height: 485px;
  @include flex-center;
  border-bottom: 2px solid $color-yellow;
  color: white;

  &__title {
    text-align: center;
    @include margin-bottom($gutter--xl);
    @include line-wrap;
    margin-bottom: 10px;
  }

  p span {
    margin-left: 10px; 
    margin-right: 10px; 
  }

  &::after {
    content: '';
    height: 20px;
    width: 100%;
    background-color: $color-grey--lighter;
    position: absolute;
    bottom: 0;
  }
}

.project-feature {
  position: relative;
  padding-bottom: 40px;

  .feature__wrapper {
    margin-top: -160px;
  }

  &__image-container {
    display: flex;
    justify-content: center;

    img {
      padding: 20px;
      background-color: $color-grey--lighter;
      max-width: 740px;
      max-height: 506.7px;
    }
  }

  &__hidden-border {
    background-color: $color-yellow;
    width: 744px;
    height: 508.7px;
    position: absolute;
    z-index: -1;
  }
}

.project-paragraph {
  max-width: 64em;
  margin: auto;
  padding-bottom: 60px;

  &__feature-wrapper{
    display: flex;
    overflow: hidden;
    @include padding(0);
    @include flex-column-to-row($bp-tablet);
    height: 300px;
  }

  &__image-wrapper {
    padding-top: 40px;

    @include screen($bp-tablet) {
      height: 0;
      max-width: 50%;
    }

    @include screen($bp-desktop) {
      max-width: calc(100% / 3);
    }
  }

  &__text {
    @include padding($gutter--large);
    display: flex;
    align-items: center;

    @include screen($bp-tablet) {
      max-width: 50%;
    }

    @include screen($bp-desktop) {
      max-width: calc(100% / 3 * 2);
      @include padding($gutter--huge);
    }
  }

  .right-align {
    text-align: right;
  }

  &__wrapper {
    @include padding($gutter--large);
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 180px;
  }
}

.construction-cost {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 1.6em;
  }

  &__number {
    font-size: 2.2em;
  }
}
