.project-hero {
  color: $color-grey--lightest;
  height: 100vh;
  text-align: center;
  text-shadow: 0 0 10px $color-text-shadow,
               0 0 20px $color-text-shadow,
               0 0 30px $color-text-shadow;

  @include screen($bp-tablet) {
    max-height: 485px;
  }

  .project-hero__wrapper {
    background-color: $color-blue;
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    @include flex-center;
  }

  .project-information {
    list-style: none;
    text-align: center;

    @include screen($bp-tablet) {
      @include inline-list('|');
    }
  }
}

.project-body {
  @include margin-center;
  @include padding-vertical($gutter--xl);
  @include wrapper-sizing;
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  @include flex-column-to-row($bp-desktop)
  @include margin-bottom($gutter);

  @include screen($bp-desktop) {
    @include margin-bottom($gutter--huge);
  }

  &.has-image {
    justify-content: space-between;
  }

  &.has-image > * {
    @include screen($bp-desktop) {
      @include flex-half($gutter--xl);
    }
  }

  p {
    max-width: 65ch;
  }

  &:nth-of-type(2n) {
    p {
      @include screen($bp-desktop) {
        order: 2;
      }
    }
  }
}

.construction-cost {
  background-color: $color-blue;
  color: $color-grey--lightest;
  text-align: center;
  border-bottom: 2px solid $color-yellow;
  @include padding-vertical($gutter--huge);
  @include margin-bottom($gutter--xl);
  @include flex-column;
  @include arrow;
  @include h2;

  dd {
    font-weight: bold;
  }
}

.project-cta {
  text-align: center;
  align-items: center;
  @include flex-column;
  @include margin-vertical($gutter--xl);
  @include margin-center;
  @include wrapper-sizing;

  p {
    max-width: 65ch;
  }
}
