.page-services main {
  .hero {
    background-image: url(../../assets/images/services-bg.jpg);
  }
}

.service {
  &__title {
    text-align: center;
    width: 100%;
    @include padding-vertical($gutter--large);

    &::after {
      @include horizontal-rule;
    }
  }

  p {
    &:first-of-type {
      @include padding-bottom($gutter--large);
    }
  }
}

.service__list {
  @include screen($bp-tablet) {
    @include margin-bottom($gutter--xl);
  }

  h4 {
    text-align: center;
    @include margin-bottom($gutter);
  }

  p {
    @include margin-bottom($gutter--xl);

  }

  ul {
    @include columns(3);
    list-style-position: inside;
  }
}

.service__list--grid {
  @include screen($bp-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $gutter--xl;
    grid-auto-flow: row;
  }
}

.collapsible-item {
  .collapsible-item__handle {
    display: none;
  }

  .collapsible-item__label {
    &:hover {
      cursor: pointer;
    }
  }

  .collapsible-item__content {
    max-height: 0;
    margin: -1px;
    overflow: hidden;
    @include transition;
  }

  .collapsible-item__handle:checked ~ .collapsible-item__content {
    max-height: 20em;
  }
}
