.page-services main {
  .hero {
    background-image: url(../../assets/images/bainbridge-bg.jpg);
  }
}

.service {
  &__title {
    text-align: center;
    width: 100%;
    @include padding-vertical($gutter--large);

    &::after {
      @include horizontal-rule;
    }
  }

  p {
    &:first-of-type {
      @include padding-bottom($gutter--large);
    }
  }
}

.service__list {
  @include screen($bp-tablet) {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    grid-auto-flow: column;
    grid-column-gap: $gutter--xl;
    @include margin-bottom($gutter--xl);
  }

  h4 {
    text-align: center;
    @include margin-bottom($gutter);

    &:nth-of-type(2n+1) {
      grid-column: 1 / 2;
    }

    &:nth-of-type(2n) {
      grid-column: 2 / 2;
    }
  }

  p {
    @include margin-bottom($gutter--xl);

    &:nth-of-type(2n+1) {
      grid-column: 1 / 2;
    }

    &:nth-of-type(2n) {
      grid-column: 2 / 2;
    }
  }

  ul {
    @include columns(3);
    list-style-position: inside;
  }
}
