---
layout: default
permalink: /projects/index.html
class: projects
---
<section class="hero feature feature--inverted projects__hero">
  <div class="feature__wrapper projects__wrapper">
    <h1 class="feature__title feature__title--highlight projects__title">Our Projects</h1>

    <p>
      <strong>Koers & Associates Engineering Ltd.</strong> projects comprise the full spectrum of municipal, residential,
      commercial, industrial, and environmental infrastructure development and upgrading.
    </p>
  </div>
</section>

<section class="projects__list projects-list">
  <div class="projects-list__filter">
    {% for project in site.projects %}
      <a href="#">
        {{ project.title }}
      </a>
    {% endfor %}
  </div>

  <div class="projects-list__container">
    {% for project in site.projects %}
      {% include components/project-thumbnail.html project=project %}
    {% endfor %}
  </div>
</section>
