---
layout: default
permalink: /projects/index.html
class: projects
---
<section class="hero feature feature--inverted">
  <div class="feature__wrapper">
    <h1 class="feature__title feature__title--highlight">Our Projects</h1>

    <p>
      <strong>Koers & Associates Engineering Ltd.</strong> projects comprise the full spectrum of municipal, residential,
      commercial, industrial, and environmental infrastructure development and upgrading.
    </p>
  </div>
</section>

<section class="projects-wrapper">
  {% include components/projects-filter.html %}
  {% include components/projects-list.html %}
</section>

<section class="feature feature--inverted feature--arrow">
  <div class="feature__wrapper projects-cta">
    <h1 class="feature__title">Looking to work on interesting and fulfilling projects?</h1>

    <p>
        We are looking for motivated and insightful people to join the Koers team. Our employees thrive
        on a variety of challenging assignments focused on quality, accountability, and personal
        satisfaction while meeting or exceeding our client’s expectations.
    </p>

    <a href="/services" class="button">View Careers</a>
  </div>
</section>
