---
layout: default
permalink: /services/index.html
class: services
---
<section class="hero feature feature--inverted">
  <div class="feature__wrapper">
    <h1 class="feature__title feature__title--highlight">Our Services</h1>

    <p>
      <strong>Koers & Associates Engineering Ltd.</strong> projects comprise the full spectrum of municipal, residential,
      commercial, industrial, and environmental infrastructure development and upgrading.
    </p>
  </div>
</section>

<section class="services feature">
  <div class="feature__wrapper">
    {% assign sorted_services = site.services | sort: 'order' %}
    {% for service in sorted_services %}
      <div class="service">
        <h1 class="service__title">{{ service.title }}</h1>

        {% if forloop.index == 1 %}
          {% include components/collapsible-list.html content=service.content %}
        {% else %}
          {{ service.content }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="feature feature--inverted feature--arrow">
  <div class="feature__wrapper projects-cta">
    <h1 class="feature__title">View our gallery of completed projects</h1>

    <p>
      We've delivered our services to a wide range of clients. On our projects page, see for yourself the effects of our services on real-world projects.
    </p>

    <a href="/projects" class="button">View projects</a>
  </div>
</section>
